<!-- <p>footer works!</p> -->

<!-- Footer -->
<footer class="bg-dark text-white mt-auto py-3"> 
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>PC Builder</h5>
                <ul class="list-unstyled">
                    <li><a class="text-white" routerLink="/">Home</a></li>
                    <li><a class="text-white" routerLink="/pc-builder">PC Builder</a></li>
                    <li><a class="text-white" routerLink="/shop-services">Shop-Services</a></li>
                    <li><a class="text-white" routerLink="/about">About</a></li>
                    <li><a class="text-white" routerLink="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Resources</h5>
                <!-- Links related to resources/articles -->
                <p>Coming Soon</p>
                <!-- PCPartPicker -->
                
            </div>
            <div class="col-md-3">
                <h5>Account</h5>
                <ul class="list-unstyled">
                    <li><a class="text-white" routerLink="/register">Register</a></li>
                    <li><a class="text-white" routerLink="/login">Login</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Contact & Social</h5>
                <!-- Links to contact page stuff -->
                <a href="https://twitter.com" target="_blank" class="text-white me-2">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <!-- email -->

                <!-- ... -->
                <p>TBD</p>

            </div>
        </div>
    </div>
</footer>