<!-- <p>about works!</p> -->

<div class="container my=5">
    <!-- Mission Statement -->
    <section class="text-center">
        <h1>About PC Builder</h1>
        <p>PC Builder is a web application that allows users to build their own PC. Users can
            select from a list of components and add them to their build. The application will then calculate the total
            cost of the build and display it to the user. Users can also save their build and view it later. You don't 
            need to build a computer to want to learn and understand how it works. Whether it's about parts or looking for 
            pre-builds or looking for resources or services such as troubleshooting.
        </p>
    </section>

    <!-- Purpose -->
    <section class="my-5">
        <h2>Purpose</h2>
        <p>
            PC Builder is committed to demystifying the process of building and upgrading computers. We provide tools, 
            resources, and guides to empower you to make informed decisions, whether you're assembling your first PC 
            or selecting pre-built components.
        </p>
    </section>

    <!-- Other Services ? -->
    <section class="my-5">
        <h2>Services</h2>
        <p>
            I plan to add more features to PC Builder in the future. Including pulling data from other websites and...
        </p>
        <p>
            Some current and future features I'm working on are these include:
        </p>
            <ul>
                <li>Build Guides</li>
                <li>Build Reviews</li>
                <li>Build Recommendations</li>
                <li>Build Troubleshooting</li>
                <li>Build Compatibility</li>
                <li>Build Comparisons</li>
                <li>Build Sharing</li>
                <li>Build Community</li>
            </ul>
    </section>

    <!-- Resources -->
    <section class="my-5">
        <h2>Resources</h2>
        <p>
            Explore our comprehensive guides, how-to articles, and curated lists of recommended parts to 
            enhance your knowledge and skills in PC building and optimization.
        </p>
    </section>

    <!-- Personal Bio -->
    <section class="my-5">
        <h2>Meet the Creator</h2>
        <p>Hello, I'm Antonio, a passionate computer enthusiast and student in university. I have been interested in technology
            since I was little and gaming just as long. Long story short, I finally built my first computer in Summer 2023 and realized
            I could help others do the same. I hope you enjoy using PC Builder and find it useful. 
        </p>
    </section>

    <!-- Story or Background info.. -->
    <!-- <section class="my-5">
        <h2>Our Story</h2>
    </section> -->
</div>
